# example.com
!/www/example.com/
!/hosts/example.com.conf
!/hosts/default.conf
/host_backup

# other projects
/www/*
/hosts/*

# logs
!/logs/.gitkeep
/logs/*

# db
!/db/initdb/extension-uuid.sql
/db/initdb/*
!/db/data/.gitkeep
/db/data/*
!/db/mysql/.gitkeep
/db/mysql/*
!/db/clickhouse/.gitkeep
/db/clickhouse/*

# frontend sourses
/frontend
/frontends
/frontends/*

# ide config
/.vscode
/.idea
.env